.Network{
    display: flex;
    flex: row;
    height: 100%;
    background-color: cadetblue;
}
.SidePanel{
    transition: all 2s ease-in-out;
    background-color: bisque;
}

.SidePanel.expanded{
    flex:1;
}

.ContentBar{
    flex:3;
}


.Legend{
    display: block;
    height: 20%;
    width: 20%;
    background-color: brown;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}
