.Search{
    height: 100%;
    flex-direction: column;
    display: flex;

}

.SHeader{
    display: flex;
}

.SearchBar{
    display: flex;
    flex: 1;
}

/* .AdvancedSearch{
    display: flex;
    flex: 20%;
}

.ContentBar{
    display: flex;
    flex: 40%;
    width: 100%;
    height: 100%;
} */

.SFooter{
    display: flex;
    align-items: center;
    justify-content: center;
}
