.Profile{
    height: 100%;
    flex-direction: row;
}

.Header{
    flex: 10%;
    display: flex;
    /* background-color: aquamarine; */
}

.Title{
    flex: 10%;
    display: flex;
    /* justify-content: center; */
    margin-top: 0;
    margin-bottom: 0;
    padding: 16px;
}

.ContentBar{
    display: flex;
    flex: 40%;
    /* background-color: chocolate; */
}

.Footer{
    display: flex;
    flex: 10%;
    /* background-color: white; */
    align-items: center;
    justify-content: center;
}
